@font-face {
    font-family: 'Zabaras';
    src: url(/fonts/Zabars.ttf);
}

body {
    font-family: 'Zabaras', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url(/img/5_background/background-window.png);
    background-position: center;
}


canvas {
    background-color: black;
}